body {
  padding: 50px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  color: white;
}

#title {
  font-size: 1.3em;
  text-align: center;
}

#reviewForm {
  text-align: center;
  margin-top: 1.5em;
}

#reviewForm #review {
  width: 23em;
  resize: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  background-color: transparent;
  border-radius: 3em;
  padding: 1em;
}

#reviewForm #review:focus {
  border-color: #00367c;
  box-shadow: 2em;
  outline: none;
}

#emojiSection {
  text-align: center;
}
